<nz-list nzItemLayout="horizontal">
  <nz-list-item [nzActions]="[githubOp]">
    <ng-template #githubOp>
      <a (click)="msg.success('Edit')">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="綁定Github" [nzAvatar]="githubAvatar" nzDescription="當前未綁定Github賬號">
      <ng-template #githubAvatar>
        <i nz-icon nzType="github" class="icon-sm"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[taobaoOp]">
    <ng-template #taobaoOp>
      <a (click)="msg.success('Edit')">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="綁定Taobao" [nzAvatar]="taobaoAvatar" nzDescription="當前未綁定Taobao賬號">
      <ng-template #taobaoAvatar>
        <i nz-icon nzType="taobao" class="icon-sm"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-item [nzActions]="[alipayOp]">
    <ng-template #alipayOp>
      <a (click)="msg.success('Edit')">修改</a>
    </ng-template>
    <nz-list-item-meta nzTitle="綁定Alipay" [nzAvatar]="alipayAvatar" nzDescription="當前未綁定Alipay賬號">
      <ng-template #alipayAvatar>
        <i nz-icon nzType="alipay-circle" class="icon-sm"></i>
      </ng-template>
    </nz-list-item-meta>
  </nz-list-item>
</nz-list>
