<div class="alain-default__content-title">
  <h1>
    ACL 訪問控制
    <small
      >注意觀察左邊的菜單；ACLService提供一個完整的基於角色的訪問控制的服務，若需要支持路由守衛，請配合ACLService與Route
      Guard配合簡便實現。</small
    >
  </h1>
</div>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="24">
    <nz-card nzTitle="按鈕粒度">
      ACL原始數據：{{ data | json }}
      <button nz-button [acl]="'role-a'">role-a</button>
      <button nz-button [acl]="'role-b'" class="ml-sm">role-b</button>
    </nz-card>
  </div>
</div>
<div nz-row [nzGutter]="8">
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="全量">
      <button nz-button (click)="toggleFull()">
        <span>{{ full ? '離開' : '設置' }}權限</span>
      </button>
      <p class="pt-md">全量類指系統管理員角色，無任何受限。</p>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="角色[role-a]">
      <button nz-button (click)="toggleRoleA()">
        <span>{{ roleA.length > 0 ? '離開' : '設置' }}權限</span>
      </button>
    </nz-card>
  </div>
  <div nz-col [nzSpan]="8">
    <nz-card nzTitle="角色[role-b]">
      <button nz-button (click)="toggleRoleB()">
        <span>{{ roleB.length > 0 ? '離開' : '設置' }}權限</span>
      </button>
    </nz-card>
  </div>
</div>
