<page-header [title]="'單號：234231029431'" [logo]="logo" [action]="action" [extra]="extra" [tab]="tab">
  <ng-template #logo>
    <img src="https://gw.alipayobjects.com/zos/rmsportal/nxkuOJlFJuAUhzlMTCEe.png" />
  </ng-template>
  <ng-template #action>
    <nz-space-compact>
      <button nz-button>操作</button>
      <button nz-button>操作</button>
    </nz-space-compact>
    <button nz-button nz-dropdown [nzDropdownMenu]="opMenu" class="mx-sm">
      <i nz-icon nzType="ellipsis"></i>
    </button>
    <nz-dropdown-menu #opMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>選項一</li>
        <li nz-menu-item>選項二</li>
        <li nz-menu-item>選項三</li>
      </ul>
    </nz-dropdown-menu>
    <button nz-button [nzType]="'primary'">主操作</button>
  </ng-template>
  <ng-template #extra>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">狀態</p>
        <p class="text-lg">待審批</p>
      </div>
      <div nz-col nzXs="24" nzSm="12">
        <p class="text-grey">訂單金額</p>
        <p class="text-lg">¥ 568.08</p>
      </div>
    </div>
  </ng-template>
  <ng-template #tab>
    <nz-tabs>
      <nz-tab nzTitle="詳情" />
      <nz-tab nzTitle="規則" />
    </nz-tabs>
  </ng-template>
  <sv-container size="small" col="2">
    <sv label="創建人">曲麗麗</sv>
    <sv label="訂購產品">XX 服務</sv>
    <sv label="創建時間">2017-07-07</sv>
    <sv label="關聯單據">
      <a (click)="msg.success('yes')">12421</a>
    </sv>
    <sv label="生效日期">2017-07-07 ~ 2017-08-08</sv>
    <sv label="備註">請於兩個工作日內確認</sv>
  </sv-container>
</page-header>
<nz-card [nzBordered]="false" class="mb-lg" nzTitle="流程進度">
  <nz-steps [nzCurrent]="1" nzProgressDot>
    <nz-step [nzTitle]="'創建項目'" [nzDescription]="createDesc">
      <ng-template #createDesc>
        <div class="desc">
          <div class="my-sm">
            曲麗麗
            <i nz-icon nzType="dingding" class="ml-sm"></i>
          </div>
          <div>2016-12-12 12:32</div>
        </div>
      </ng-template>
    </nz-step>
    <nz-step [nzTitle]="'部門初審'" [nzDescription]="checkedDesc">
      <ng-template #checkedDesc>
        <div class="desc">
          <div class="my-sm">
            周毛毛
            <i nz-icon nzType="dingding" class="ml-sm" style="color: #00a0e9"></i>
          </div>
          <a (click)="msg.success('click')">催一下</a>
        </div>
      </ng-template>
    </nz-step>
    <nz-step [nzTitle]="'財務複核'" />
    <nz-step [nzTitle]="'完成'" />
  </nz-steps>
  <div class="steps-content"></div>
</nz-card>
<nz-card [nzBordered]="false" nzTitle="用戶信息" class="mb-lg">
  <sv-container class="mb-lg">
    <sv label="用戶姓名">付小小</sv>
    <sv label="會員卡號">32943898021309809423</sv>
    <sv label="身份證">3321944288191034921</sv>
    <sv label="聯繫方式">18112345678</sv>
    <sv label="聯繫地址">曲麗麗 18100000000 浙江省杭州市西湖區黃姑山路工專路交叉路口</sv>
  </sv-container>
  <sv-container class="mb-lg" title="信息組">
    <sv label="某某數據">725</sv>
    <sv label="該數據更新時間">2017-08-08</sv>
    <sv />
    <sv [label]="label">
      <ng-template #label>
        某某數據
        <i nz-tooltip nzTooltipTitle="數據說明" nz-icon nzType="info-circle"></i>
      </ng-template>
      725
    </sv>
    <sv label="該數據更新時間">2017-08-08</sv>
  </sv-container>
  <h4 class="mb-md">信息組</h4>
  <nz-card nzType="inner" nzTitle="多層級信息組">
    <sv-container size="small" title="組名稱">
      <sv label="負責人">林東東</sv>
      <sv label="角色碼">1234567</sv>
      <sv label="所屬部門">XX公司 - YY部</sv>
      <sv label="過期時間">2017-08-08</sv>
      <sv label="描述">這段描述很長很長很長很長很長很長很長很長很長很長很長很長很長很長...</sv>
    </sv-container>
    <nz-divider />
    <sv-container size="small" title="組名稱" col="1">
      <sv label="學名"> Citrullus lanatus (Thunb.) Matsum. et Nakai一年生蔓生藤本；莖、枝粗壯，具明顯的稜。卷鬚較粗.. </sv>
    </sv-container>
    <nz-divider />
    <sv-container size="small" title="組名稱">
      <sv label="負責人">付小小</sv>
      <sv label="角色碼">1234568</sv>
    </sv-container>
  </nz-card>
</nz-card>
<nz-card [nzBordered]="false" nzTitle="用戶近半年來電記錄" class="mb-lg">
  <div class="no-data"><i nz-icon nzType="frown"></i>暫無數據</div>
</nz-card>
<nz-card [nzBordered]="false">
  <nz-card-tab>
    <nz-tabs nzSize="large" (nzSelectChange)="change($event)">
      <nz-tab nzTitle="操作日誌一" />
      <nz-tab nzTitle="操作日誌二" />
      <nz-tab nzTitle="操作日誌三" />
    </nz-tabs>
  </nz-card-tab>
  <st [columns]="opColumns" [data]="list">
    <ng-template st-row="status" let-i>
      @if (i.status === 'success') {
      <nz-badge nzStatus="success" nzText="成功" />
      } @else {
      <nz-badge nzStatus="processing" nzText="進行中" />
      }
    </ng-template>
  </st>
</nz-card>