<page-header [title]="'高級表單'">
  高級表單常見於一次性輸入和提交大批量數據的場景。（示例採用響應式表單，也可使用模板驅動方式）
</page-header>
<form nz-form [formGroup]="form" (ngSubmit)="_submitForm()" [nzLayout]="'vertical'">
  <nz-card [nzBordered]="false" nzTitle="倉庫管理">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="name">倉庫名</nz-form-label>
          <nz-form-control nzErrorTip="請輸入倉庫名稱">
            <input nz-input formControlName="name" id="name" placeholder="請輸入倉庫名稱" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>倉庫域名</nz-form-label>
          <nz-form-control nzErrorTip="請輸入倉庫域名">
            <nz-input-group nzAddOnBefore="http://" nzAddOnAfter=".com">
              <input nz-input formControlName="url" placeholder="請輸入" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>倉庫管理員</nz-form-label>
          <nz-form-control nzErrorTip="請選擇管理員">
            <nz-select formControlName="owner" [nzPlaceHolder]="'請選擇管理員'" [nzShowSearch]="true">
              @for (i of users; track $index) {
              <nz-option [nzLabel]="i.label" [nzValue]="i.value" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>審批員</nz-form-label>
          <nz-form-control nzErrorTip="請選擇審批員">
            <nz-select formControlName="approver" [nzPlaceHolder]="'請選擇管理員'" [nzShowSearch]="true">
              @for (i of users; track $index) {
              <nz-option [nzLabel]="i.label" [nzValue]="i.value" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>生效日期</nz-form-label>
          <nz-form-control>
            <nz-range-picker formControlName="date_range" [style]="{ width: '100%' }" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>倉庫類型</nz-form-label>
          <nz-form-control nzErrorTip="請選擇倉庫類型">
            <nz-select formControlName="type" [nzShowSearch]="true" [nzPlaceHolder]="'請選擇倉庫類型'">
              <nz-option [nzLabel]="'私密'" [nzValue]="'private'" />
              <nz-option [nzLabel]="'公開'" [nzValue]="'public'" />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card [nzBordered]="false" nzTitle="任務">
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>任務名</nz-form-label>
          <nz-form-control nzErrorTip="請輸入任務名">
            <input nz-input formControlName="name2" placeholder="請輸入任務名" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>任務描述</nz-form-label>
          <nz-form-control nzErrorTip="請輸入任務描述">
            <textarea nz-input formControlName="summary" [nzAutosize]="true" placeholder="請輸入任務描述"></textarea>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>執行人</nz-form-label>
          <nz-form-control nzErrorTip="請選擇執行人">
            <nz-select formControlName="owner2" [nzPlaceHolder]="'請選擇執行人'" [nzShowSearch]="true">
              @for (i of users; track $index) {
              <nz-option [nzLabel]="i.label" [nzValue]="i.value" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16">
      <nz-col nzLg="6" nzMd="12" nzSm="24">
        <nz-form-item>
          <nz-form-label>責任人</nz-form-label>
          <nz-form-control nzErrorTip="請選擇責任人">
            <nz-select formControlName="approver2" [nzPlaceHolder]="'請選擇責任人'" [nzShowSearch]="true">
              @for (i of users; track $index) {
              <nz-option [nzLabel]="i.label" [nzValue]="i.value" />
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 6, offset: 2 }" [nzLg]="{ span: 8 }" [nzMd]="{ span: 12 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>生效時間</nz-form-label>
          <nz-form-control>
            <nz-time-picker formControlName="time" />
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzXl]="{ span: 8, offset: 2 }" [nzLg]="{ span: 10 }" [nzMd]="{ span: 24 }" nzSm="24">
        <nz-form-item>
          <nz-form-label>任務類型</nz-form-label>
          <nz-form-control nzErrorTip="請選擇任務類型">
            <nz-select formControlName="type2" [nzShowSearch]="true" [nzPlaceHolder]="'請選擇任務類型'">
              <nz-option [nzLabel]="'私密'" [nzValue]="'private'" />
              <nz-option [nzLabel]="'公開'" [nzValue]="'public'" />
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
  </nz-card>
  <nz-card [nzBordered]="false" nzTitle="成員管理">
    <nz-table formArrayName="items" [nzData]="items.value" [nzShowPagination]="false">
      <thead>
        <tr>
          <th>成員姓名</th>
          <th>工號</th>
          <th>所屬部門</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items.controls; track $index; let i = $index) {
        <tr [formGroupName]="i">
          @let v = items.value[i];
          @let isView = editIndex !== i;
          <td>
            @if (isView) {
            {{ v.name }}
            } @else {
            <nz-form-item>
              <nz-form-control nzErrorTip="請輸入成員姓名">
                <input nz-input formControlName="name" placeholder="請輸入成員姓名" />
              </nz-form-control>
            </nz-form-item>
            }
          </td>
          <td>
            @if (isView) {
            {{ v.workId }}
            } @else {
            <nz-form-item>
              <nz-form-control nzErrorTip="請輸入工號">
                <input nz-input formControlName="workId" placeholder="請輸入工號" />
              </nz-form-control>
            </nz-form-item>
            }
          </td>
          <td>
            @if (isView) {
            {{ v.department }}
            } @else {
            <nz-form-item>
              <nz-form-control nzErrorTip="請輸入所屬部門">
                <input nz-input formControlName="department" placeholder="請輸入所屬部門" />
              </nz-form-control>
            </nz-form-item>
            }
          </td>
          <td>
            @if (isView) {
            <a (click)="edit(i)">編輯</a>
            <nz-divider nzType="vertical" />
            <a nz-popconfirm nzPopconfirmTitle="是否要刪除此行？" (nzOnConfirm)="del(i)">刪除</a>
            } @else {
            <a (click)="save(i)">保存</a>
            <nz-divider nzType="vertical" />
            <a nz-popconfirm nzPopconfirmTitle="是否要取消操作？" (nzOnConfirm)="cancel(i)">取消</a>
            }
          </td>
        </tr>
        }
      </tbody>
    </nz-table>
    @if (editIndex === -1) {
    <button nz-button [nzType]="'dashed'" (click)="add()" nzBlock class="mt-md">
      <i nz-icon nzType="plus"></i>
      <span>新增成員</span>
    </button>
    }
  </nz-card>
  <footer-toolbar errorCollect>
    <button nz-button type="primary" nzType="primary">提交</button>
  </footer-toolbar>
</form>