<page-header [title]="'基礎詳情頁'" />
<nz-card [nzHoverable]="true" [nzBordered]="false">
  <sv-container size="large" title="退款申請">
    <sv label="取貨單號">1000000000</sv>
    <sv label="狀態">已取貨</sv>
    <sv label="銷售單號">1234123421</sv>
    <sv label="子訂單">3214321432</sv>
  </sv-container>
  <nz-divider />
  <sv-container size="large" title="用戶信息">
    <sv label="用戶姓名">付小小</sv>
    <sv label="聯繫電話">18100000000</sv>
    <sv label="常用快遞">菜鳥倉儲</sv>
    <sv label="取貨地址">浙江省杭州市西湖區萬塘路18號</sv>
    <sv label="備註">無</sv>
  </sv-container>
  <nz-divider />
  <div class="text-lg mb-md">退貨商品</div>
  <st #st [data]="goods" [columns]="goodsColumns" [body]="goodsBody" [page]="{ show: false }">
    <ng-template #goodsBody>
      <tr>
        <td>合計</td>
        <td></td>
        <td></td>
        <td class="text-right"></td>
        <td class="text-right">
          <strong>{{ basicNum }}</strong>
        </td>
        <td class="text-right">
          <strong>{{ amountNum | price }}</strong>
        </td>
      </tr>
    </ng-template>
  </st>
  <div class="text-lg my-md">退貨進度</div>
  <st [data]="progress" [columns]="progressColumns" [page]="{ show: false }" />
</nz-card>
